{% extends "base.html" %}

{% block title %}Lista de Usuários{% endblock %}






{% block center %}





<div class="mt-5">
    <div class="d-flex justify-content-center mb-5">
        <h1>Lista de Reservas</h1>
    </div>

    
    
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome da empresa</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Valor</th>
                <th scope="col">Data de Reserva</th>
                <th scope="col">Quitato</th>
                <th scope="col">Mais</th>
            </tr>
        </thead>

        <tbody>
            {% for reserva in reserva %}
            <tr>
                <td>{{ reserva.nome_empresa }}</td>
                <td>{{ reserva.cnpj }}</td>
                <td>{{ reserva.stand.valor }}</td>
                <td>{{ reserva.data_reserva|date:"d/m/Y" }}</td>
                <td>{% if reserva.quitado == True %} Quitado {% else %} Pendente {% endif %}</td>
                <td>
                    <a href="{% url 'editar' id=reserva.id %}"><i class="bi bi-pen"></i></a>
                    <a href="{% url 'remover' id=reserva.id %}"><i class="bi bi-trash3"></i></a>
                    <a href="{% url 'detalhes' id=reserva.id %}"><i class="bi bi-search"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


   

    <div class="mb-3">
        <a href="{% url 'criar' %}" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}