{% extends "base.html" %}

{% block title %}Lista de Usuários{% endblock %}






{% block center %}





<div class="mt-5">
    <div class="d-flex justify-content-center mb-5">
        <h1>Lista de Reservas</h1>
    </div>

    <form class="py-2" action="{% url 'listar' %}" method="get">
        <div class="row">
            <div class="col input-group mb-2 ">
                <input type="text" class="form-control" name="nome" placeholder="Nome" aria-label="Pesquisar">
            </div>
    
            <div class=" col input-group mb-2 ">
                <input type="number" class="form-control" name="valor" placeholder="Valor" aria-label="Pesquisar">
            </div>
    
            <div class=" col input-group mb-2 ">
                <input type="date" class="form-control" name="data" placeholder="Data" aria-label="Pesquisar">
            </div>
    
    
            <div class="col input-group mb-2">
                <div class="form-check m-1">
                    <input class="form-check-input " type="radio" name="vf" id="quitado" value="quitado">
                    <label class="form-check-label" for="quitado">Quitado</label>
                </div>
            
                <div class="form-check m-1">
                    <input type="radio" class="form-check-input" name="vf" id="pendente" value="pendente">
                    <label class="form-check-label" for="pendente">Pendente</label>
                </div>
            </div>
            
            <div class="col input-group-prepend">
                <button class="btn btn-success" type="submit">Buscar</button>
                <a href="{% url 'listar' %}" class="btn btn-light">Limpar</a>
            </div>
        </div>
    </form>
    
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome da empresa</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Valor</th>
                <th scope="col">Data de Reserva</th>
                <th scope="col">Quitato</th>
                <th scope="col">Mais</th>
            </tr>
        </thead>

        <tbody>
            {% for reserva in reserva %}
            <tr>
                <td>{{ reserva.nome_empresa }}</td>
                <td>{{ reserva.cnpj }}</td>
                <td>{{ reserva.stand.valor }}</td>
                <td>{{ reserva.data_reserva|date:"d/m/Y" }}</td>
                <td>{% if reserva.quitado == True %} Quitado {% else %} Pendente {% endif %}</td>
                <td>
                    <a href="{% url 'editar' id=reserva.id %}"><i class="bi bi-pen"></i></a>
                    <a href="{% url 'remover' id=reserva.id %}"><i class="bi bi-trash3"></i></a>
                    <a href="{% url 'detalhes' id=reserva.id %}"><i class="bi bi-search"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if reserva.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primeira">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ reserva.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item"><span class="page-link">{{ reserva.number }}</span></li>

            {% if reserva.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reserva.next_page_number }}" aria-label="Próxima">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ reserva.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="mb-3">
        <a href="{% url 'criar' %}" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}